* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
*::selection {
  background-color: var(--primary);
  color: var(--optional);
}
html {
  scroll-behavior: smooth;
}
:root {
  --primary: #2c3e50;
  --secondary: #f39c12;
  --optional: #f5f6f7;
}
.homeContainer {
  width: 100%;
  height: 100vh;
}
/* navbar  */
.navBar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50px;
  z-index: 100;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 60px;
  padding: 20px 15px;
  border-radius: 25px;
  background-color: var(--optional);
  backdrop-filter: blur(10px);
}
nav .logo {
  color: var(--primary);
  font-size: 25px;
  font-weight: 700;
  user-select: none;
  display: flex;
  align-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}
nav ul a {
  text-decoration: none;
  font-weight: 500;
  color: var(--secondary);
}
nav ul a:hover {
  color: #090d11;
  text-decoration: underline;
}
.menu {
  display: none;
}
.sideNav{
  display: none;
}
.sideNavContent {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: #000000c5;
  backdrop-filter: blur(10px);
  z-index: 999999;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.sideNavContent #sideNavLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: center;
  gap: 10px;
}
.sideNavContent #sideNavLinks a {
  text-decoration: none;
  color: var(--optional);
  font-size: 22px;
  font-weight: 500;
}
.sideNavContent #sideNavLinks a:hover{
  text-decoration: underline;
  color: var(--secondary);
}
.sideNavLogo{
  display: flex;
  width: 100%;
  padding: 20px;
  align-self: flex-start;
  justify-content:space-between;
  align-items: center;
}
.sideNavContent i {
  color: var(--optional);
  font-size: 22px;
}
/* home  */
.homeTop {
  width: 100%;
  height: 100vh;
  background-image: url(./Assets/download.gif);
  background-repeat: no-repeat;
  background-size: 400px 400px;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  color: var(--optional);
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-items: center;
}
.topQuote {
  width: 90%;
  font-size: 52px;
  font-weight: bolder;
  color: var(--optional);
}
.socialIcons {
  align-self: flex-start;
  transform: translateY(200px);
  margin-left: 20px;
  display: flex;
  font-weight: 400;
  gap: 15px;
  font-size: 21px;
}
.socialIcons a {
  color: var(--optional);
  opacity: 0.5;
}
.socialIcons a:hover {
  color: var(--secondary);
  opacity: 1;
}
/* about us  */
.aboutUs {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  color: var(--optional);
  flex-direction: column;
  padding: 30px;
  justify-content: space-evenly;
  align-items: center;
}
.aboutUs h1 {
  color: var(--secondary);
  margin-top: 10px;
  font-size: 42px;
  text-decoration: underline;
}
.aboutUs div {
  width: 90%;
  font-size: 21px;
  line-height: 35px;
  word-spacing: 4px;
  animation: shows 10s linear;
  opacity: 1;
  animation-range: exit;
  animation-timeline: view();
}
/* services  */
.services {
  width: 100%;
  height: fit-content;
  background: url(./Assets/….gif) black fixed;
  background-size: 500px 600px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.services h1 {
  color: var(--secondary);
  font-size: 42px;
  margin-top: 60px;
  text-decoration: underline;
}

.packages {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  flex-direction: row;
  flex-basis: 2;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  animation: shows1 0.2s linear;
  opacity: 1;
}
.packages div {
  width: 40%;
  height: 150%;
  background-color: #f5f6f7de;
  padding: 20px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.packages div h2 {
  color: var(--primary);
  display: flex;
  gap: 20px;

  align-items: center;
}
.packages div ul {
  list-style: none;
  line-height: 50px;
  border-top: 1px solid black;
  font-size: 18px;
}
.packages div p {
  padding: 10px;
  font-size: 20px;
}
.active {
  color: var(--secondary);
  font-size: 18px;
  font-weight: 700;
}

.contactUs {
  width: 100%;
  height: 100%;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contactmemo {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.contactmemo h2 {
  color: var(--secondary);
  font-size: 42px;
  text-decoration: underline;
}
.contactmemo p {
  color: var(--optional);
}
.form {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f5f6f7;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  animation: shows2 0.2s linear;
  opacity: 1;
  animation-range: exit;
  animation-timeline: view();
}
.form h3 {
  color: var(--primary);
  font-size: 32px;
  text-align: center;
}
.form input {
  width: 80%;
  height: 10%;
  padding: 10px;
  border: none;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid var(--primary);
  outline: none;
  /* appearance: textfield; */
}
.form input::placeholder {
  font-size: 18px;
  font-weight: 500;
}
.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.form button {
  padding: 10px 120px;
  outline: none;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  color: var(--optional);
  font-size: 16px;
}
.form button:hover {
  background-color: #2c3e50b9;
}
.scrollAni {
  animation: topani linear 0.2s;
  animation-timeline: scroll();

  width: 0%;
  position: fixed;
  top: 0;
  z-index: 99;
  height: 3px;
  background-color: var(--secondary);
}
@keyframes topani {
  to {
    width: 100%;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background-color: #000000;
  border-top: 1px solid var(--secondary);
  color: var(--optional);
  padding: 20px;
}
.footBasesHead1 {
  display: flex;
  animation: shows3 0.2s linear;
  align-items: center;
  font-size: 42px;
  width: 100%;
  animation: shows 0.2s linear;
  opacity: 1;
  animation-range: exit;
  animation-timeline: view();
}
.footBasesHead1 h2 {
  font-family: "Lucida sans Unicode";
  width: 70%;
}
.footBasesHead2 {
  display: flex;
  width: 100%;
  gap: 10px;
  animation: shows 0.2s linear;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation: shows4 0.2s linear;
  opacity: 1;
  animation-range: exit;
  animation-timeline: view();
}
.footBasesHead2 .socialIcons1 {
  display: flex;
  gap: 20px;
}
.footBasesHead2 .socialIcons1 a {
  font-size: 21px;
  text-decoration: none;
  color: #f5f6f794;
}
.footBasesHead2 .socialIcons1 a:hover {
  color: var(--secondary);
}
.footBases5 {
  display: flex;
  gap: 10px;
}
.footBases5 a,
.footBases5 p {
  opacity: 0.3;
  text-decoration: none;
  color: var(--optional);
}
.footBases5 a:hover {
  opacity: 1;
}
.footBases4 a {
  text-decoration: none;
  color: var(--optional);
}
.footBases4 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: left;
  justify-content: left;
}
@keyframes hiding {
  to {
    opacity: 0;
  }
}
@keyframes shows {
  to {
    opacity: 0;
  }
}

@keyframes shows2 {
  to {
    opacity: 0;
  }
}
@keyframes shows3 {
  to {
    opacity: 0;
  }
}
@keyframes shows4 {
  to {
    opacity: 0;
  }
}
@media screen and (max-width: 680px) {
  nav ul {
    display: none;
  }
  .navBar {
    position: fixed;
    top: 0;
  }
  nav {
    width: 100%;
    border-radius: 0px;
  }
  .menu {
    display: block;
  }
  .topQuote {
    font-size: 25px;
  }
  .socialIcons {
    display: none;
  }
  .aboutUs{
    height: fit-content ;
  }
  .aboutUs h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .aboutUs div {
    font-size: 14px;
  }
  .services h1 {
    font-size: 32px;
  }
  .packages div {
    width: 90%;
  }
  .contactUs .form {
    width: 90%;
  }
  .contactmemo h2 {
    font-size: 32px;
  }
  .form h3 {
    font-size: 24px;
  }
  .footer {
    height: fit-content;
  }
  .footBasesHead1 h2 {
    font-size: 26px;
    margin-bottom: 10px;
  }
  .footBases5 a,
  .footBases5 p {
    font-size: 12px;
  }
}
